In [ ]:
 #2
a=input()
b=a.split(",")
for i in range(len(b)):
  b[i]=int(b[i])
print(tuple(b[2:-2]))

10, 20, 24, 25, 26, 35, 70
(24, 25, 26)

In [ ]:
given_dictionary={(2,3,6): 'Haary', (7,): 'Ron', (2,4): 'Hermione', (4,6,10): 'Malfoy'}
new_dictionary = {}
summation=0
for i in given_dictionary.keys():
    summation+=int(i)
for j in i:
    new_dictionary[summation] = given_dictionary[j]
print(new_dictionary)

TypeError: ignored

In [ ]:
given_dictionary = {(2,3,6): 'Haary', (7,): 'Ron', (2,4): 'Hermione', (4,6,10): 'Malfoy'}

new_dictionary = {}
summation=0
for key in given_dictionary:
    summation +=int(str(key))
    new_dictionary[summation] = given_dictionary[key]
print(new_dictionary)

ValueError: ignored

In [ ]:
user=input()
for i in range(len(user)):
  building=user[2]
  floor=user[3]+user[4]
  room=user[5]+user[6]
print(building, floor, room)

UB20803
2 08 03

In [ ]:
#1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#3
book_info =(("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291))
print( len(book_info))
for i in book_info:
  print(i)

4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291))
for i in range(len(book_info)):
  print("{} won the {} category with {} votes".format(book_info[i][1],book_info[i][0],book_info[i][2]))

The Silent Patient won the Best Mystery & Thriller category with 68821 votes
The Institute won the Best Horror category with 75717 votes
The five won the Best History & Biography category with 31783 votes
The Testaments won the Best Fiction category with 98291 votes

In [ ]:
#5
given_tuple= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
user=int(input())
count=0
for i in given_tuple:
  if user==i:
    count+=1
print(count)

8
4

In [ ]:
#6
Given_tuple=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
s=list(Given_tuple)
s.reverse()
new_tup=tuple(s)
print(new_tup)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#6
Given_tuple=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
list_1=[]
for i in range(1,len(Given_tuple)+1):
  list_1.append(Given_tuple[-i])
print(tuple(list_1))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#7
A={'Harry':15, 'Draco':8, 'Nevil':19}
B={'Ginie':18, 'Luna': 14}
A.update(B)
print(A)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#7
A={'Harry':15, 'Draco':8, 'Nevil':19}
B={'Ginie':18, 'Luna': 14}
marks={}
for key,values in A.items():
  marks[key]=values
for key,values in B.items():
  marks[key]=values
print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:

#8
str1=input()
s=str1.strip("{}")
s=s.split(",")
dict1={}
for i in s:
  key,value=tuple(i.split(":"))
  dict1[key]=int(value)
sum=0
count=0
for val in dict1.values():
  sum+=val
  count+=1
average=sum//count
print("Average is {}".format(average))

Jon:100, Dan:200, Rob:300
Average is 200

In [ ]:
#9
k=int(input())
d={}
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
for k in exam_marks.values:
  if k< exam_marks.values:
    d.update(exam_marks)
print(d)

170

TypeError: ignored

In [ ]:
#11
u_i=input().lower()
f_dict={}
for i in u_i:
  if 97<=ord(i)<=122:
    if i not in f_dict:
      f_dict[i]=1
    else:
      f_dict[i]+=1
print(f_dict)

"Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
u_i=input().lower()
f_dict={}
for i in u_i:
  if 97<=ord(i)<=122:
    if i not in f_dict:
      f_dict[i]+=1
    #else:
     # f_dict[i]+=1
print(f_dict)

"Python programming is fun"

KeyError: ignored

In [ ]:
#12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for i in dict_1.values():
  for j in i:
    count+=1
print(count)

9

In [ ]:
#13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict_1={}
for i in list_1:
  key,value=i
  if key not in dict_1:
    dict_1[key]=[value]
  else:
    dict_1[key].append(value)
print(dict_1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#15
list_1=[(2, 3), (4, 5), (6, 7), (2, 8)]
list_2=[]
a=0
b=0
for i in list_1:
  a,b=i
  #if a,b not in list_2:
  list_2.append(a*b)
print(list_2)

[6, 20, 42, 16]

In [ ]:
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
for i in my_dictionary.values():
  if my_dictionary[i]=="None":
    del my_dictionary[i]
print(my_dictionary)

KeyError: ignored